<div class="col-md-10 offset-md-1">
  <p class="d-flex justify-content-center pt-5">もくもくする</p>

  <p class="d-flex justify-content-center">
    <%= render 'form', event: @event %>
  </p>
  
  <div class="back-button">
    <%= link_to 'Back', events_path %>
  </div>  
</div>
